@tailwind base;
@tailwind components;
.bgimage
{
    background-image: url("./loginImage.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    opacity: 0.9;
}
@tailwind utilities;