@tailwind base;
@tailwind components;
.bgimage
{
    background-image: url("./frontend/src/loginImage.png");
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 0.9;
}
@tailwind utilities;