@tailwind base;
@tailwind components;

.bgimage {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTG0gy42OMlPttBKCMqeDCNM_qJ-uNUhxwsig&usqp=CAU");
    background-repeat: no-repeat;

}

.bg-picSignUp {
    background-image: url("picSignUp2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

/* Add this CSS to make the days-left div look nice */
.days-left {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}


@tailwind utilities;