@tailwind base;
@tailwind components;
.bgimage
{
    background-image: url("./prakash-sahoo-MgppNRJShm0-unsp_1200x768.webp");
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 0.9;
}
@tailwind utilities;